@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(20, 20, 20);
  color: #ddd;
}

/* Add custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgb(20, 20, 20);
}

::-webkit-scrollbar-thumb {
  background: #332;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #444;
}